<div class="row">
<div class="col-md-4">
<div class="map-canvas">
	<input places-auto-complete size="60" types="['address']" ng-model="event.address"on-place-changed="enterPlace(place)" />
    <map center="[37.853843, -122.278776]" zoom="10" style="height: 800px;">
        <marker position="{{center}}"  animation="DROP" draggable="true" on-drag="updatePos()"></marker>
 	</map>

 </div>
 </div>
<div class="col-md-8">
	<form ng-submit="postEvent()">
	<div class="form-group">
	<label>Event Name</label>
	<input type="text" class="form-control"
	ng-model="event.name">
	</div>
	<div class="row">
		<div class="col-md-4">
		<label>Start</label>
		<p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="event.startDate" is-open="status.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
        </div>
        <div class="col-md-4">
              <uib-timepicker ng-model="event.startTime" hour-step="1" minute-step="15" show-meridian="ismeridian"></uib-timepicker>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		<label>End</label>
		<p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="event.endDate" is-open="status.opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
        </div>
        <div class="col-md-4">
              <uib-timepicker ng-model="event.endTime" hour-step="1" minute-step="15" show-meridian="ismeridian"></uib-timepicker>
		</div>
	</div>
	<label>Styles</label>
	<tags-input ng-model="event.styles" placeholder="Locking, Popping, House, etc.">
		<auto-complete source="loadStyles($query)"></auto-complete></tags-input>
	<label>What type of event</label>
	<tags-input ng-model="event.kind" placeholder="Open Session, Workshop, Battle, Jam, etc.">
		<auto-complete source="loadKinds($query)"></auto-complete>
		</tags-input>
	<label>About</label>
	<textarea class="form-control" rows="3" ng-model="event.about"></textarea>
	<button type="submit" class="btn btn-block btn-primary"> <span>Create</span>
	</button>
	</form>
	<p>JSON view</p>
    <h3>{{event}}</h3>


</div>
</div>
