<div class="row">
<input places-auto-complete size="80" types="['geocode']" ng-model="address"on-place-changed="enterPlace(place)" style="padding-left: 10px;"/>
<div class="col-md-6">
<div class="map-canvas">

    <map center="{{center}}" zoom="10" on-center-changed="mapDragged()" style="height: 800px;">
        <marker ng-repeat='event in events' position='{{event.coords.coordinates[1]}}, {{event.coords.coordinates[0]}}' id='{{$index}}' on-click="showInfo(event, $index)"></marker>
        <info-window id="bar-info-window" max-width"200" visible-on-marker="{{$index}}">
        	<div ng-non-bindable="">
        	<div id="bodyContent">
        		<a ng-href="/event/{{selectedMarker._id}}"><h3>{{selectedMarker.name}}</h3></a>
        		<p>
        			{{selectedMarker.about}}
        		</p>
        	</div>
        	</div>
        </info-window>
 	</map>

 </div>
 </div>
 <div class="col-md-6" ng-init="filter()">
 <div ng-repeat='event in events'>
    <a ng-href="/event/{{event._id}}"><h3>{{event.name}}</h3></a>
    <p>{{event.about}}</p>
    <p>{{event.start}}</p>
    <p>{{event.end}}</p>
 </div>
 </div>
 </div>